@page
@model mission9_dprodigy.Pages.CartModel
@{
}


<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShoppingCartItem item in Model.cart.Cart)
        {
            <tr>
                <td>@(item.Book.Title)</td>
                <td>@(item.Book.Price.ToString("c"))</td>
                <td>@item.Quantity</td>
                <td>@((item.Book.Price * item.Quantity).ToString("c"))</td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@item.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

    
</table>

<div class="float-right">
    <a href="@Model.ReturnUrl" class="btn btn-outline-primary">Continue Shopping</a>
    <a asp-action="Checkout" asp-controller="Purchase" class="btn btn-success">Checkout</a>
</div>