@page
@model mission9_dprodigy.Pages.CartModel
@{
}

<div class="mt-2 mb-2">
    <a class="link-primary pt-2 pb-2" href="@Model.ReturnUrl">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>Go Back</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShoppingCartItem item in Model.cart.Cart)
        {
            <tr>
                <td>@(item.Book.Title)</td>
                <td>@(item.Book.Price.ToString("c"))</td>
                <td>@item.Quantity</td>
                <td>@((item.Book.Price * item.Quantity).ToString("c"))</td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@item.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-danger btn-sm"><i class="trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

    
</table>