@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<div class="">
    <div class="card">
        @foreach (BookModel book in Model.Books)
        {
            <div class="card">
                <div class="card-body">
                    <h4>@book.Title</h4>
                    <ul>
                        <li>Author: @book.Author</li>
                        <li>Publisher: @book.Publisher</li>
                        <li>ISBN: @book.Isbn</li>
                        <li>Category: @book.Category</li>
                        <li>Number of Pages: @book.PageCount</li>
                        <li>Price: @book.Price</li>
                    </ul>
                </div>
            </div>
            
        }
    </div>
   
   
    <div page-info="@Model.pageInfo" page-action="Index"></div>

</div>
